<div class="charactersheet">
  <form id="update-character-form" #updateForm="ngForm" (ngSubmit)="updateCharacter(updateForm)">
    <button type="submit" class="submit-update-character">Save and Exit</button>
    <section class="character-head">
      <div class="character-name">
        <label for="name">Name</label>
        <input ngModel class="form-control" id="name" name="name" type="text" [(ngModel)]="dndCharacter.name">
      </div>
      <div class="character-misc">
        <div class="character-class">
<!--          <label for="class">Class</label>-->
<!--          <p id="class">{{dndCharacter.characterClass.name}}</p>-->
        </div>
        <div class="character-race">
<!--          <label for="race">Race</label>-->
<!--          <p id="race">{{dndCharacter.race.name}}</p>-->
        </div>
      </div>
      <div class="character-level">
        <label for="level">Level</label>
        <input ngModel class="form-control" id="level" name="level" type="number" [(ngModel)]="dndCharacter.level">
      </div>
      <div class="character-stats">
        <div class="stat">
          <label>Strength</label>
          <div class="stat-value">
            <div class="score">
              <input ngModel class="form-control" name="strength" type="number" [(ngModel)]="dndCharacter.strength">
            </div>
            <div class="modifier">
              <input ngModel class="form-control" name="strengthModifier" type="number"
                     [(ngModel)]="dndCharacter.strengthModifier">
            </div>
          </div>
        </div>
        <div class="stat">
          <label>Dexterity</label>
          <div class="stat-value">
            <div class="score">
              <input ngModel class="form-control" name="dexterity" type="number" [(ngModel)]="dndCharacter.dexterity">
            </div>
            <div class="modifier">
              <input ngModel class="form-control" name="dexterityModifier" type="number"
                     [(ngModel)]="dndCharacter.dexterityModifier">
            </div>
          </div>
        </div>
        <div class="stat">
          <label>Constitution</label>
          <div class="stat-value">
            <div class="score">
              <input ngModel class="form-control" name="constitution" type="number"
                     [(ngModel)]="dndCharacter.constitution">
            </div>
            <div class="modifier">
              <input ngModel class="form-control" name="constitutionModifier" type="number"
                     [(ngModel)]="dndCharacter.constitutionModifier">
            </div>
          </div>
        </div>
        <div class="stat">
          <label>Intelligence</label>
          <div class="stat-value">
            <div class="score">
              <input ngModel class="form-control" name="intelligence" type="number"
                     [(ngModel)]="dndCharacter.intelligence">
            </div>
            <div class="modifier">
              <input ngModel class="form-control" name="intelligenceModifier" type="number"
                     [(ngModel)]="dndCharacter.intelligenceModifier">
            </div>
          </div>
        </div>
        <div class="stat">
          <label>Wisdom</label>
          <div class="stat-value">
            <div class="score">
              <input ngModel class="form-control" name="wisdom" type="number" [(ngModel)]="dndCharacter.wisdom">
            </div>
            <div class="modifier">
              <input ngModel class="form-control" name="wisdomModifier" type="number"
                     [(ngModel)]="dndCharacter.wisdomModifier">
            </div>
          </div>
        </div>
        <div class="stat">
          <label>Charisma</label>
          <div class="stat-value">
            <div class="score">
              <input ngModel class="form-control" name="charisma" type="number" [(ngModel)]="dndCharacter.charisma">
            </div>
            <div class="modifier">
              <input ngModel class="form-control" name="charismaModifier" type="number"
                     [(ngModel)]="dndCharacter.charismaModifier">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="character-body">
      <div class="">

      </div>
    </section>
  </form>
</div>
