<div class="charactersheet">
  <section class="character-head">
    <div class="character-name">
      <input type="text" [value]="dndCharacter.name">
    </div>
    <div class="character-misc">
      <div class="character-class">
        <p></p>
      </div>
      <div class="character-race">
        <p></p>
      </div>
    </div>
    <div class="character-level">
      <input type="text" [value]="dndCharacter.level">
    </div>
    <div class="character-stats">
      <div class="stat">
        <label>Strength</label>
        <input class="strength-score" type="number" [value]="dndCharacter.strength">
        <input class="modifier" type="number" [value]="">
      </div>
      <div class="stat">
        <label>Strength</label>
        <input class="dexterity-score" type="number" [value]="dndCharacter.dexterity">
        <input class="modifier" type="number" [value]="">
      </div>
      <div class="stat">
        <label>Strength</label>
        <input class="constitution-score" type="number" [value]="dndCharacter.constitution">
        <input class="modifier" type="number" [value]="">
      </div>
      <div class="stat">
        <label>Strength</label>
        <input class="intelligence-score" type="number" [value]="dndCharacter.intelligence">
        <input class="modifier" type="number" [value]="">
      </div>
      <div class="stat">
        <label>Strength</label>
        <input class="strength-score" type="number" [value]="dndCharacter.strength">
        <input class="modifier" type="number" [value]="">
      </div>
      <div class="stat">
        <label>Strength</label>
        <input class="strength-score" type="number" [value]="dndCharacter.strength">
        <input class="modifier" type="number" [value]="">
      </div>
    </div>
  </section>
  <section class="character-body">
    <div class="">

    </div>
  </section>
</div>
